**/.DS_Store
data/**/*.binpb
data/**/*.json
/data/signal/**.json
**/detection/detection
**/enrichment/enrichment
**/normalizer/normalizer
grpc/server/server
**/*_normalized.log
**/python/**/__pycache__
python/venv/
